<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card bg-dark">
                <div class="card-body">
                    <h1 class="text-light mb-3 h4">Editar</h1>
                    <form action="/links/edit/{{link.id}}" method="POST">
                        <div class="form-group">
                            <input type="text" value="{{link.title}}" name="title" class="form-control bg-dark text-light" placeholder="Title"
                                autofocus>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="url" value="{{link.url}}" name="url" class="form-control bg-dark text-light" placeholder="URL">
                        </div>
                        <br>
                        <div class="form-group">
                            <textarea name="descripcion"  rows="2" class="form-control bg-dark text-light"
                                placeholder="descripcion">{{link.descripcion}}"</textarea>
                        </div>
                        <br>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>